/* CSS reset */
@font-face {
font-family: 'LibreFranklin';
src: url('font/LibreFranklinBlack-4XAB.ttf') format('truetype');
font-weight: 600;
font-style: normal;
}
@font-face {
font-family: 'LibreFranklin';
src: url('font/LibreFranklinBold-exBe.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'LibreFranklin';
src: url('font/LibreFranklinExtrabold-a0la.ttf') format('truetype');
font-weight: bolder;
font-style: normal;
}
@font-face {
font-family: 'LibreFranklin';
src: url('font/LibreFranklinExtralight-O34O.ttf') format('truetype');
font-weight: normal;
font-style: lighter;
}
@font-face {
font-family: 'LibreFranklin';
src: url('font/LibreFranklinLight-xaej.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'LibreFranklin';
src: url('font/LibreFranklinMedium-Dr2E.ttf') format('truetype');
font-weight: 600;
font-style: normal;
}
@font-face {
font-family: 'LibreFranklin';
src: url('font/LibreFranklinRegular-5oqz.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'LibreFranklin';
src: url('font/LibreFranklinRegular-qvP6.ttf') format('truetype');
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: 'LibreFranklin';
src: url('font/LibreFranklinSemibold-VlZy.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'LibreFranklin';
src: url('font/LibreFranklinThin-G79a.ttf') format('truetype');
font-weight: 200;
font-style: normal;
}
@font-face {
  font-family: 'Megant';
  src: url('font/Megant.ttf') format('truetype');
}
.Megant{
  font-family: 'Megant' !important;
}

html {
  overflow-x: hidden;
  min-width: 375px;
  max-width: 100vw !important;
}

html,body {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img { 
  border:0;
}
input{
  border:1px solid #b0b0b0;
  padding:3px 5px 4px;
  color:#979797;
  width:190px;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
body{
  font-family: 'LibreFranklin';
  font-size: 15px;
  font-weight: lighter;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*//// GLOBAL*/
.text_container{
  color:#53585A;
  text-align: justify;
  font-size: large;
}

/*////HEADER*/

#header{
  position: relative;
  text-align: center;
  z-index: 20;

}

header .calendarContainer{
  display: -webkit-box;
}

.slider_container{
  height: 100vh;
  overflow: hidden;
}
.slider_cover {
    z-index: 0;
    width: 100%;
    position: relative;
    height: 100vh;
    top: -105vh;
    /* overflow: hidden; */
    background-color: #000;
    opacity: 0.3;
}
.slideshow .header_text_animation {
  text-transform: uppercase;
  font-size: 5vw;
  font-weight: 500;
  padding: 0;
  color: #FFF;
  margin: auto;
  top: 43%;
  max-width: 80%;
  left: 0;
  right: 0;
}
.icon{
  width: 2.5vw;
}
.phone{

}
@media screen and (max-width: 767px) { 
  header .phone{
    display: none;
  }
}
@media screen and (max-width: 1140px) { 
  /*.slideshow .header_text_animation { font-size: 100px }*/
}

/*////SECTION_1*/
.slide_cover{

}

#section_1{
  background-color:#FFF;
}

#section_1 img {
  margin: 40px 0px;
  max-width: 100%;
  float: right;
  position: relative;
}

#section_1 .title{
  font-weight: 400;
  font-size: 4vw;
}

#section_1 .text_container{
    font-size: 2vw;
    margin: 20px 0px;
    font-weight: 200;
    min-height: 130px;
}

#section_1 .phone{
  text-align: center;
  font-size: 27px;
  font-weight: lighter;
}

@media only screen and (max-width: 767px) {
  #section_1 .image_col{
    order: 12;
  }
}

/*////SECTION_2*/

#section_2{
  background-color: #EEE7E5;  
  padding: 50px 40px;
}

#section_2 .header{
  font-size: 50px;
  text-align: center;
  font-weight: 700;
}

#section_2 .row.align-items-center{
  text-align: center;
  width: 80%;
  margin: 50px auto;
}

#section_2 .icon{
  width: 12vh;
  margin-bottom: 16px;
}

#section_2 .icon_text{
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

#section_2 .text_description {
  font-size: 25px;
  margin-top: 40px;
  text-align: justify;
}

@media screen and (max-width: 430px) { 
  #section_2 .header{
    font-size: 42px;
  }
}
@media screen and (max-width: 380px) { 
  #section_2 .header{
    font-size: 38px;
  }
  #section_2 .text_description {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 744px) { 
  #section_2 .icon_text{
    font-size: 18px;
    margin-bottom: 15px;
  }
  #section_2 .text_description {
    font-size: 20px;
  }
}

/*////SECTION_3*/

#section_3{
  padding: 60px 50px;
  /*background-color: #E5E5E5;*/
}
#section_3 .row.align-items-center{
  /*height: 40vh;*/
  text-align: center;
}
#section_3 .icon{
  width: 15vh;
  margin-bottom: 16px;
}
#section_3 .icon_text{
  font-size: 25px;
  font-weight: 400;
}
#section_3 .text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 200;
  margin-top: 25px;
  min-height: 168px;
}

@media screen and (max-width: 1065px) { 
  #section_3 .icon_text{
  }
  #section_3 .text {
    font-size: 17px;
    
  }
}

@media screen and (max-width: 947px) { 
  #section_3 .icon_text{
    font-size: 24px;
  }
  #section_3 .text {
    font-size: 16px;
    
  }
}

@media screen and (max-width: 895px) { 
  #section_3 .icon_text{
    font-size: 22px;
  }
  #section_3 .text {
    font-size: 15px;
  }
}

@media screen and (max-width: 875px) { 
  #section_3 .icon_text{
    font-size: 22px;
  }
  #section_3 .text {
    font-size: 15px;
    min-height: 225px;
  }
}

@media screen and (max-width: 875px) { 
  #section_3 .text {
    min-height: inherit;
    margin-bottom: 20px;
  }
}

/*////SECTION_4*/
#section_4{
  background-color: #EEE7E5;
}
#section_4 .header_nav{
  text-align: center;
  padding: 40px 0px;
  font-size: 6vw;
  letter-spacing: 1.7px;
  font-weight: 400;
}
#section_4 a.nav-link:hover {
    border-bottom: none;
    color: #C6AC85;
    background-color: #EEE7E5;
}
#section_4 a.nav-link.active {
    border: none;
    display: inline-block;
    background-color: #C6AC85;
    color: #FFF;
    padding: 9px 30px;
    border-radius: 3px;
}
#section_4 .nav-tabs{
  border: none;
  padding: 5px 100px;
  font-size: 24px;
  font-weight: 700;
  max-width: 1000px;
  margin: auto;
}

#section_4 .row.justify-content-center {
  background-color: #FFFFFF;
}
.pisos_nav{
  padding-bottom: 50px !important;
}
#section_4 .nav-item{
  width: 33.3%;
  line-height: 0.85;
  text-align: center;  
  white-space: nowrap;

}
#section_4 .plano_header{
  margin-top: 90px;
  font-size: 30px;
  text-align: center;
}
#section_4 .metros{
  margin-left: 160px;
}
#section_4 .plano_txt{
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
}

#section_4 .plano_img img{
  max-width: 400px;
}

#section_4 .icon{
  width: 12vh;
  margin-bottom: 16px;
}


#section_4 .icon_text{
  margin: 45px 50px;
}

@media screen and (min-width: 530px){
  #tipo1_nav{
    text-align: left !important;
  }
  #tipo2_nav{
    position: relative;
    left: 18%;
  }
  .piso1_nav{
    text-align: left !important;
  }
  .piso3_nav{
    text-align: right !important;
  }
  #tipo1_nav, #tipo2_nav{
    width: 50% !important;
  }
}

@media screen and (max-width: 875px) { 
  #section_4 .nav-item {
    font-size: 16px;
  }
}
@media screen and (max-width: 705px) { 
  #section_4 .nav-item {
    font-size: 16px;
  }
  #section_4 .nav-link{
    padding: 10px 5px;
  }
  #section_4 .nav-tabs{
    padding: 5px 70px;
  }
}
@media screen and (max-width: 619px) { 
  #section_4 .nav-tabs{
    padding: 5px 30px;
  }
}

@media screen and (max-width: 529px) { 
  #section_4 .nav-tabs{
    display: table;
  }
  #section_4 .nav-item {
    width: inherit;
  }
  .piso3_nav, .piso1_nav {
       text-align: center !important; 
  }
}
@media screen and (max-width: 768px){
  #section_4 .icon {
      width: 11vw;
  }
  #section_4 .icon_text {
      margin: 5% 0px;
      text-align: center;
      font-size: 16px;
  }
  #section_4 .plano_img img{
    width: 50vw;
    margin: 0px 0px 20px 0;
  }
  p.col-11 {
      font-size: 3vw;
  }
}

@media screen and (min-width: 768px){
  #section_4 .icons_container{
    display: flex;
  }
  #section_4 .primer_piso{
    /*width: 40vw !important;*/
    max-width: 400px;
  }
  #section_4 .plano_img .primer_piso{
    width: 37vw;
  }
  #section_4 .plano_img img{
    width: 32vw;
    margin: 20px 0;
  }
  #section_4 .menos_iconos {
    top: 45px;
  }
}

@media screen and (max-width: 535px){
  #section_4 .icon_text {
      font-size: 3vw;
  }
}

/*////SECTION_5*/


#section_5{
  /*height: 50vh;*/
  background-color: #E0E0E0;
  padding: 6vw 10px;
}

#section_5 #titulo{
  font-size: 5vw;
  font-weight: 500;
  padding-left: 35px;
  letter-spacing: 1.2px;
  padding: 0 60px;
}

/*#section_5 #titulo::after{
  border-bottom: 5px solid red;
}*/
.galeria_container{
  width: 92%;
  margin: 0 60px;
}


#section_5 .carousel-inner .carousel-item.active,
#section_5 .carousel-inner .carousel-item-next,
#section_5 .carousel-inner .carousel-item-prev {
  display: flex;
}

#section_5 .carousel-inner .carousel-item-right.active,
#section_5 .carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

#section_5 .carousel-inner .carousel-item-left.active, 
#section_5 .carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}
  
#section_5 .carousel-inner .carousel-item-right,
#section_5 .carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.container.text-center.my-3{
  padding: 0;
  margin-left: 30px;
}

img.d-block.col-3.img-fluid {
    padding: 0;
    height: 300px
}

.carousel-inner.w-100 {
  width: 900px !important;
}

.carousel-control-next {
    right: -221px;
} 
@media screen and (max-width: 1092px) { 
  .carousel-control-next {
      right: -130px;
  }
  #carousel_modal .carousel-control-prev {
      left: -130px;
  }
}

@media screen and (max-width: 870px) { 
  .carousel-control-next {
      right: -80px;
  }
  #carousel_modal .carousel-control-prev {
      left: -80px;
  }
}

@media screen and (max-width: 564px) { 
  .carousel-control-next {
      right: -50px;
  }
  #carousel_modal .carousel-control-prev {
      left: -50px !important;
  }
  .galeria_container{
    margin: 0 26px;
  }
}

@media screen and (max-width: 460px) { 
  .galeria_container{
    margin: 0 23px;
  }
}
@media screen and (max-width: 375px) { 
  .galeria_container{
    margin: 0 2vw;
  }
}

/*////SECTION_7*/

#section_7 {

}

#map{
  margin: 20px 40px;
  height: 60vh;
}

/*////CONTACTO*/


#contacto{
  background-color: #EEE7E5;
  padding: 30px 0px;
}

#name {
  width: 93%;
  float: left;
}

#name_label, #message_label{
  width: 100%;
  float: left;
  text-align: left;
  font-size: 1.3rem;
  margin-top: 10px;
  font-weight: 200;
}

#mail_label, #tel_label{
  width: 50%;
  text-align: left;
  float: left;
  font-size: 1.3rem;
  margin-top: 10px;
  font-weight: 200;
}

#mail{
  width: 45%;
  margin-right: 15px;
  float: left;
}

#tel{
  width: 45%;
  float: left;
}

#message{
  width: 93%;
  float: left;
  height: 200px;
}

#contacto button {
  border: none;
  float: left;
  width: 100px;
  font-size: 1.2rem;
  margin: 12px 0;
}

#contacto .icon{
  width: 50px;
  margin-right: 15px;
}

#contacto .txt{
  text-align: left;
  font-weight: 500;
  display: -webkit-box;
}
#contacto #direction_container{
  display: grid;
}


input{
  border: none;
}

@media screen and (min-width: 767px) { 
  #contacto #direction_container{
    display: grid;
  }
  #contacto p{
    padding: 10px;
  }

}

@media screen and (max-width: 767px) { 
  #contacto p{
    font-size: 1.5vw;
  }
  #contacto .icon{
    width: 5vw;
  }
}

/*MODAL CAROUSEL*/

#section_5 .img-fluid {
  transition: all 0.5s ease;
  cursor: pointer;
  width: 33.333%;
  height: auto;
}

#section_5 .img-fluid:hover {
  /*opacity: 0.9;*/
  transform: scale(1.2);
}

/* The Modal (background) */
.modal {
  padding-top: 8vh;
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;   
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#carousel_modal .carousel-inner{
  background-color: #000;
}

#carousel_modal .carousel-control-prev {
    left: -210px;
}

#carousel_modal .carousel-item img{
  margin: auto;
  height: 65vw;
}

/* Add Animation */
.modal-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}



/*//MODAL CONTACTO*/

#contacto_modal #title{
  margin: 30px auto;
  font-size: 20px;
  width: fit-content;
  font-weight: 400;
}
#contacto_modal #form{
  width: 90%;
  margin: auto;
}

#contacto_modal .close_contacto{
  color: #C1A583;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 70%;
  content: 'X';
  z-index: 999;
}

#contacto_modal input{
  font-weight: 200;
  background-color: #F9f9f9;
  padding: 10px 15px;
  width: 100%;
  margin: 5px 10px;
}

#contacto_modal #mensaje{
  height: 120px;
}

#contacto_modal button {
  margin: 20px 10px;
  width: 100%;
  border: none;
  background-color: #C1A583;
  height: 40px;
  color: #FFF;
}

